name: DIRECTORY.md workflow (ignore directories)
on: [workflow_dispatch]
jobs:
  directory_builder:
    runs-on: ubuntu-latest
    name: Verify the DIRECTORY.md workflow works
    steps:
      - uses: actions/checkout@v3
      - uses: ./directory_md
        with:
          language: scripts
          working-directory: .
          filetypes: .cpp,.hpp
          ignored-directories: ./test
          branch-name: directory-update-ignore
